*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(6c32b73f-037c-4a73-9ed7-f91cd12c49c8.jpg);
    border-radius: 20px;
}
h1{
    margin-top: 190px;
    color:white;
    font-size: 50px;
}
table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0px 06px 05px 05px black;
    
}
table, th, td {
    background-color: aquamarine;
}
th, td {
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
